@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');  
@import "tailwindcss";
:root{
  --main-color:oklch(87.9% 0.169 91.605) ;
  --primary-color:oklch(29.3% 0.066 243.157) ;
}
.box_image{
  /* border-radius:73% 27% 35% 65% / 65% 40% 60% 35%  ; */
  /* border-radius:82% 18% 24% 76% / 32% 40% 60% 68% ; */
  /* border-radius:82% 18% 84% 16% / 0% 85% 15% 100%  ; */
  /* border-radius:82% 18% 84% 16% / 0% 100% 0% 100%; */
  border-radius:50% 50% 49% 51% / 50% 50% 50% 50% ;
}
.light{
  background: linear-gradient(80deg, #222 0%,var(--main-color) 85%,#222 100%);
   color: #fff;
}
.dark{
  background: linear-gradient(80deg, #222 0%,var(--primary-color)85%,#222 100%);
  color:#000;
}
textarea,
input{
  outline: none;
}
.footer_menu{
  background: #1e1e20;
}
h1,
.gradient{
  font-weight: bold;
  color: #fff;
}
.box,
.left_section button,
.social_i,
.submit,
.cv_btn{
  overflow: hidden;
  transition:0.6s ease-in-out ;
  background: linear-gradient(90deg, var(--primary-color) 0%,
  var(--main-color),var(--primary-color) 100%);
    color:var(--primary-color) ;
}
 .card:hover .box,
.left_section button:hover,
.social_i:hover,
.submit:hover,
.cv_btn:hover{
  background: linear-gradient(90deg, var(--main-color) 0%, var(--primary-color),
  var(--main-color) 100%);
  color:var(--main-color) ;
}
/* ====================landpage img animation==================== */
.movebale{
  animation: moveParent 2s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
} 
.animation_img {
  animation: move 2s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes move {
  0% {
  transform: translateY(0);
  }
  100% {
  transform: translateY(-7px);
  }
}
@keyframes moveParent {
  0% {
  transform:rotatey(0deg);
  }
  100% {
  transform:rotatey(-20deg);
  }
}
/*=============================================*/
/*=============== skills end ==================*/
/*=============================================*/
main.flex {
  gap: 2.64rem;
  align-items: start;
}
/* ===============================
1. Left Section ==> Buttons
================================== */
main section.left-section.flex {
  flex-direction: column;
  gap: 10px;
}  main section.left-section.flex button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.3s;
}
main section.left-section.flex button:hover {
  opacity: 1;
}
main section.left-section.flex button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  padding: 0.8rem 0;
  border: 1px solid var(--blue);
}
.light main section.left-section.flex button.active {
  border: 1px solid #000;
}
/* ===============================
2. Right Section ==> Card
================================== */
main section.right-section.flex {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 2rem;
}
.card {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(93, 188, 252, 0.3);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  transition: 0.3s;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}
.light .card,
.light .card:hover {
  border: none;
}
.card:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
  cursor: pointer;
}
.card img {
  border-radius: 5px;
}
.card .box {
  padding: 1rem 0.4rem;
}
.card .box .title {
  color: var(--title);
  text-transform: capitalize;
}
.card .box .sub-title {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 1.1rem;
}
.card .box .icons {
  justify-content: space-between;
}
.card .icon-github,
.card .icon-link {
  font-size: 1.2rem;
  color: var(--subtitle);
}
.card .icon-github:hover,
.card .icon-link:hover {
  font-size: 1.25rem;
  color: var(--icon-hover);
  cursor: pointer;
}
.card a.link {
  font-size: 0.9rem;
  color: var(--blue);
  margin-right: 12px;
}
/* =====================================
  3- Responsive Design (media query)
======================================== */
@media(max-width:1024px){
  .rihgt_section{
    justify-content: start;
    gap: 10px;
  }
  .card{
    width: 270px ;
  }
  .card .box{
    width: 270px ;
  }
}
/* =============max-width:786px================== */
@media(max-width:786px){
  .Skills_header{
    margin: 150px 0  50px 0 ;
  }
  .header_title{
    margin-top: 30px;
    font-size: 40px;
  }
    .rihgt_section{
    justify-content: center;
    gap: 10px;
  }
    .contact_content{
    width: 90%;
  }
  .box_image{
    margin-top: 0;
    height: 300px;
    width: 240px;
  }
}
/* =============max-width: 600px================== */
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    gap: 2.64rem;
    align-items: center;
  }
  main section.left-section.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  main section.left-section.flex button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
  .left_section button{
    width: 100%;
  }
    .box_image{
  height: 260px;
  width: 220px;
  }
}
/* =================max-width:640px====================== */
@media(max-width:640px){
  .header_title{
  margin-bottom: 0 0 25px 0;
}
  .land_page_content{
    flex-direction: column;
  }
  .footer{
  padding:0 10px ;
  align-items:end;
  height: 100px;
  padding-bottom: 10px;
  font-size: 12px;
}
.footer_links{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
}
.land_btns .cv_btn{
  font-size: 12px;
  width: 110px;
  height: 50px;
}
}
@media(max-width:465px){
  .header_title{
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 27px;
  }
  .header_title h2{
    padding: 0;
  }
  .text_pra{
  margin: 0;
  font-size: 13px;
  padding: 15px 0;
  }
  .box_image{
  margin-top: 0;
  height: 220px;
  width: 200px;
  }
/* ===========skills========== */
.skills_content{
  flex-direction: column;
}

.left_section{
  width: 100%;
  padding:0 2px ;
  flex-direction: row;
  gap: 3px;
  justify-content:start;
  align-items: center;
  margin: auto;
  font-size: 10px;
}
.left_section button {
  height: 44px;
}
.footer{
  font-size: 15px;
  align-items:center;
}
.footer_links{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3px;
}
}
/* ===============Scroll Bar=============== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid #222;
}
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}